body{
    background-color: #baeee1;
    line-height: 150%;
}
h1,h3{
    color: #10a891;
}
hr{
    border-top: #41d6c0 dotted  5px;
    width: 45px;
}

a{
    text-decoration: none;
}
img{
    border-radius: 6px;
}
.intro{
    text-align: justify;
}
.contact-form{
    background-color:#f5f5d9;
    display: block;
    margin-left: -7px;
    margin-right: -7px;
    padding-left: 7px;
    padding-top: 2px;
    padding-bottom: 22px;
    margin-bottom: -7px;;
}
